.noOverflow {
  overflow: hidden; }

.modal-w-wrapper {
  z-index: 1050;
  position: fixed; }
  .modal-w-wrapper .modal-w-backdrop {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80); }

.modal-w {
  display: block;
  overflow: auto;
  text-align: center; }
  .modal-w .modal-w-dialog {
    z-index: 1060;
    width: auto;
    text-align: left;
    /* on rétablit l'alignement du texte */
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    max-width: 100%; }
    .modal-w .modal-w-dialog.no-backdrop .modal-w-backdrop {
      display: none; }
    .modal-w .modal-w-dialog .modal-w-content {
      z-index: 1050;
      border-radius: 2px;
      width: 600px;
      padding: 10px;
      max-width: 100%;
      margin: 0; }

.flexbox .modal-w > .modal-w-backdrop {
  display: none; }
.flexbox .modal-w .modal-w-dialog {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 10px;
  max-height: initial; }

.no-flexbox .modal-w-dialog {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 10px;
  max-height: 100%; }
  .no-flexbox .modal-w-dialog .modal-w-backdrop {
    display: none; }
.no-flexbox.no-csstransforms .modal-w-dialog {
  left: auto;
  top: auto;
  margin: auto; }

.lt-ie8 .modal-w-content {
  display: inline;
  zoom: 1; }

.modal-content{
  background-color: #fff;
}